*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

body{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
    
}

/* max device width */

@media screen and (max-device-width: 1024px) {
	.container {
		
        background-color: black;
    }
}

@media screen and (max-device-width: 1024px) {
	.links-list {
		margin-top: -300px;
	}
}

.glass {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.glass img {
    width: 20%;
    height: 50%;  
}

.glass ul {
    justify-content: center;
    display: flex;
    text-align: center;
}

.profile {
    position: absolute;
    width: 200px; 
    top: 10%; 
    left: 50%;
    transform: translateX(-50%);    
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fade-in 3s ease-in-out 1 forwards;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.profile img {
    width: 100%;
    
}

.links-list{
    margin-top: -70px ;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 13px 13px;
    
}

.links-list li{
    margin: 13px 10px;
    
}

.links-list li a {
    text-align: center;
    margin-bottom: 1px;
    padding: 5px 10px;
    display: block;
    background-color: transparent;
    border-radius: 50px;
    border-bottom: 2px solid #C1D72E;
    text-decoration: none;
    color: rgb(83, 140, 63);
    font-size: 23px;
    font-weight:300;
    cursor: pointer;
    filter: saturate(100%) brightness(100%) contrast(100%)
}

.links-list li a:hover {
    font-size: 24px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.botao{
    width: 50px;
}

.botao ul{
    list-style: none;
}

.botao img {
    width: 50px;
    position: fixed;
    animation: flutuar;
    bottom: 25px;
    right: 25px;
    float: right;
    z-index: 1000;
}


/***************
 *   HISTORY
**************/
.body-color{
    height: 100vh; 
}

.history{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 130px 20px;
    font-family:  "Source Serif 4", serif;
    background-color: rgb(83, 140, 63);
    padding: 15px 20px ;
    border-radius: 15px ;
    
}

.text {
   
    font-size: 18px;
    color: black;
}

.text ul {
    list-style: none;
    
}
.text ul li a{
    color: inherit; 
}

/***********
*  Gallery
************/


.profile2 {
    position: absolute;
    width: 200px; 
    top: 13%; 
    left: 50%;
    transform: translateX(-50%);    
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fade-in 3s ease-in-out 1 forwards;
    }
    
    @keyframes fade-in {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    
.profile2 img {
    width: 100%;
}


.profile2 h1{
    width: 205px;
    text-align: center;
    padding-top: 15px;
}

.gallery {
    width: 100%;
    height: 100vh;
    
}

.container-gallery {
    position: absolute;
    width: 100%;
    margin: 150px 2px;
    display: flex;
    flex-direction: row;
  justify-content: space-between; 
  align-items: center; 
}

.container-gallery img {
    height: 100vh;
    border: 1px solid rgb(107, 125, 55);
    border-radius: 10px;
    
}

.gallery {
    padding: 12px 0;    
}

.gallery h2{
    color:black;
    font-weight:bold;
    font-size: 15px;
    margin:15px;
    text-align: center;
}

.gallery .gallery-wrapper{
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
}

.gallery .gallery-wrapper div{
    display: flex;
}

.gallery .gallery-wrapper div img { 
  width: calc(200px - 5px); 
  height: 150px; 
  margin: 10px; 
  object-fit: cover;
  box-sizing: border-box;  
}

@media screen and (max-device-width: 1024px) {
	.gallery .gallery-wrapper div img {
		width: 150px; 
        margin-top: 30px;
        
  
	}
}
   

     




